In [1]:
import pandas as pd
import os
import sqlite3
from sqlalchemy import create_engine
import mysql.connector

In [2]:
create = create_engine("sqlite:/// election.db")

In [3]:
def ingest_db(file_path, table_name, conn):
    df1 = pd.read_csv(file_path)
    df1.to_sql(table_name, con=conn, if_exists="replace", index=False)
    print("Ingested:", table_name, df1.shape)   # moved inside function & fixed df name

conn = sqlite3.connect("election.db")

file_path = "C:/Users/amanp/Downloads/election commision.csv"
table_name = os.path.splitext(os.path.basename(file_path))[0]  

ingest_db(file_path, table_name, conn)

Ingested: election commision (61725, 12)

In [4]:
tables= pd.read_sql_query("select name from sqlite_master where type ='table'",conn)
print(tables)

                 name
0  election commision

In [5]:
for table in tables["name"]:
    print(pd.read_sql_query(f'SELECT count(*) AS rows FROM "{table}"', conn))
    print(pd.read_sql_query(f'SELECT * FROM "{table}" LIMIT 5', conn))

    rows
0  61725
    State/Ut Name  Pc No PC Name  Total Electors In PC  AC No    AC Name  \
0  Andhra Pradesh      1   Araku               1557153     10  Palakonda
1  Andhra Pradesh      1   Araku               1557153     10  Palakonda
2  Andhra Pradesh      1   Araku               1557153     10  Palakonda
3  Andhra Pradesh      1   Araku               1557153     10  Palakonda
4  Andhra Pradesh      1   Araku               1557153     10  Palakonda

   Total Electors In AC  Total Valid Votes In State  Nota Votes Evm In AC  \
0                195673                    33327256                  4441
1                195673                    33327256                  4441
2                195673                    33327256                  4441
3                195673                    33327256                  4441
4                195673                    33327256                  4441

            Candidate Name   Party  Votes Secured Evm
0  APPALANARASA PACHIPENTA  CPI(M)               3873
1   AVASHYA LAHARI . VARAM     BSP               1155
2        KOTHAPALLI GEETHA     BJP              66695
3       GUMMA THANUJA RANI   YSRCP              63302
4          CHANTI BADNAINA    JBNP               1977

In [6]:
df = pd.read_sql_query('SELECT * FROM "election commision"', conn)
print(df.head())

    State/Ut Name  Pc No PC Name  Total Electors In PC  AC No    AC Name  \
0  Andhra Pradesh      1   Araku               1557153     10  Palakonda
1  Andhra Pradesh      1   Araku               1557153     10  Palakonda
2  Andhra Pradesh      1   Araku               1557153     10  Palakonda
3  Andhra Pradesh      1   Araku               1557153     10  Palakonda
4  Andhra Pradesh      1   Araku               1557153     10  Palakonda

   Total Electors In AC  Total Valid Votes In State  Nota Votes Evm In AC  \
0                195673                    33327256                  4441
1                195673                    33327256                  4441
2                195673                    33327256                  4441
3                195673                    33327256                  4441
4                195673                    33327256                  4441

            Candidate Name   Party  Votes Secured Evm
0  APPALANARASA PACHIPENTA  CPI(M)               3873
1   AVASHYA LAHARI . VARAM     BSP               1155
2        KOTHAPALLI GEETHA     BJP              66695
3       GUMMA THANUJA RANI   YSRCP              63302
4          CHANTI BADNAINA    JBNP               1977

In [7]:
df.columns.tolist()

['State/Ut Name',
 'Pc No',
 'PC Name',
 'Total Electors In PC',
 'AC No',
 'AC Name',
 'Total Electors In AC',
 'Total Valid Votes In State',
 'Nota Votes Evm In AC',
 'Candidate Name',
 'Party',
 'Votes Secured Evm']

In [8]:
df["State/Ut Name"]

0        Andhra Pradesh
1        Andhra Pradesh
2        Andhra Pradesh
3        Andhra Pradesh
4        Andhra Pradesh
              ...
61720            Ladakh
61721            Ladakh
61722            Ladakh
61723            Ladakh
61724            Ladakh
Name: State/Ut Name, Length: 61725, dtype: object

In [9]:
df

,State/Ut Name,Pc No,PC Name,Total Electors In PC,AC No,AC Name,Total Electors In AC,Total Valid Votes In State,Nota Votes Evm In AC,Candidate Name,Party,Votes Secured Evm
0,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,APPALANARASA PACHIPENTA,CPI(M),3873
1,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,AVASHYA LAHARI . VARAM,BSP,1155
2,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,KOTHAPALLI GEETHA,BJP,66695
3,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,GUMMA THANUJA RANI,YSRCP,63302
4,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,CHANTI BADNAINA,JBNP,1977
...,...,...,...,...,...,...,...,...,...,...,...,...
61720,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,TSERING NAMGYAL,INC,32014
61721,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,MOHMAD HANEEFA,IND,5733
61722,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TASHI GYALSON,BJP,10012
61723,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TSERING NAMGYAL,INC,3756
61724,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,MOHMAD HANEEFA,IND,58710

In [10]:
const= df.rename(columns = {"Pc No" : "Parliamentryconstituencies"})
const

,State/Ut Name,Parliamentryconstituencies,PC Name,Total Electors In PC,AC No,AC Name,Total Electors In AC,Total Valid Votes In State,Nota Votes Evm In AC,Candidate Name,Party,Votes Secured Evm
0,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,APPALANARASA PACHIPENTA,CPI(M),3873
1,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,AVASHYA LAHARI . VARAM,BSP,1155
2,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,KOTHAPALLI GEETHA,BJP,66695
3,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,GUMMA THANUJA RANI,YSRCP,63302
4,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,CHANTI BADNAINA,JBNP,1977
...,...,...,...,...,...,...,...,...,...,...,...,...
61720,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,TSERING NAMGYAL,INC,32014
61721,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,MOHMAD HANEEFA,IND,5733
61722,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TASHI GYALSON,BJP,10012
61723,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TSERING NAMGYAL,INC,3756
61724,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,MOHMAD HANEEFA,IND,58710

In [11]:
assembly = df.rename(columns = {"AC No" : "Assemblyconstituencies"})
assembly

,State/Ut Name,Pc No,PC Name,Total Electors In PC,Assemblyconstituencies,AC Name,Total Electors In AC,Total Valid Votes In State,Nota Votes Evm In AC,Candidate Name,Party,Votes Secured Evm
0,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,APPALANARASA PACHIPENTA,CPI(M),3873
1,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,AVASHYA LAHARI . VARAM,BSP,1155
2,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,KOTHAPALLI GEETHA,BJP,66695
3,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,GUMMA THANUJA RANI,YSRCP,63302
4,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,CHANTI BADNAINA,JBNP,1977
...,...,...,...,...,...,...,...,...,...,...,...,...
61720,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,TSERING NAMGYAL,INC,32014
61721,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,MOHMAD HANEEFA,IND,5733
61722,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TASHI GYALSON,BJP,10012
61723,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TSERING NAMGYAL,INC,3756
61724,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,MOHMAD HANEEFA,IND,58710

In [12]:
parliamentry= df.rename(columns = {"PC Name" : "ParliamentryNumber"})
parliamentry

,State/Ut Name,Pc No,ParliamentryNumber,Total Electors In PC,AC No,AC Name,Total Electors In AC,Total Valid Votes In State,Nota Votes Evm In AC,Candidate Name,Party,Votes Secured Evm
0,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,APPALANARASA PACHIPENTA,CPI(M),3873
1,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,AVASHYA LAHARI . VARAM,BSP,1155
2,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,KOTHAPALLI GEETHA,BJP,66695
3,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,GUMMA THANUJA RANI,YSRCP,63302
4,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,CHANTI BADNAINA,JBNP,1977
...,...,...,...,...,...,...,...,...,...,...,...,...
61720,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,TSERING NAMGYAL,INC,32014
61721,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,MOHMAD HANEEFA,IND,5733
61722,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TASHI GYALSON,BJP,10012
61723,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TSERING NAMGYAL,INC,3756
61724,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,MOHMAD HANEEFA,IND,58710

In [18]:
assemblyname= df.rename(columns = {"AC Name" : "AssemblyName"})
assemblyname

,State/Ut Name,Pc No,PC Name,Total Electors In PC,AC No,AssemblyName,Total Electors In AC,Total Valid Votes In State,Nota Votes Evm In AC,Candidate Name,Party,Votes Secured Evm
0,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,APPALANARASA PACHIPENTA,CPI(M),3873
1,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,AVASHYA LAHARI . VARAM,BSP,1155
2,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,KOTHAPALLI GEETHA,BJP,66695
3,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,GUMMA THANUJA RANI,YSRCP,63302
4,Andhra Pradesh,1,Araku,1557153,10,Palakonda,195673,33327256,4441,CHANTI BADNAINA,JBNP,1977
...,...,...,...,...,...,...,...,...,...,...,...,...
61720,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,TSERING NAMGYAL,INC,32014
61721,Ladakh,1,Ladakh,190576,1,Leh,92700,134612,338,MOHMAD HANEEFA,IND,5733
61722,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TASHI GYALSON,BJP,10012
61723,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,TSERING NAMGYAL,INC,3756
61724,Ladakh,1,Ladakh,190576,2,Kargil,97876,134612,558,MOHMAD HANEEFA,IND,58710

In [14]:
df.columns.tolist()

['State/Ut Name',
 'Pc No',
 'PC Name',
 'Total Electors In PC',
 'AC No',
 'AC Name',
 'Total Electors In AC',
 'Total Valid Votes In State',
 'Nota Votes Evm In AC',
 'Candidate Name',
 'Party',
 'Votes Secured Evm']

In [16]:
df["State/Ut Name"].unique().tolist()

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'West Bengal',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Telangana',
 'Andaman & Nicobar Islands',
 'Chandigarh',
 'Dadra & Nagar Haveli and Daman & Diu',
 'NCT OF Delhi',
 'Lakshadweep',
 'Puducherry',
 'Jammu and Kashmir',
 'Ladakh']